<ion-content class = "info">
  <ion-grid>
    <ion-row class="ion-align-items-center">
       <ion-title class = "info">Some profile info</ion-title>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-button expand = "round" color ="primary" (click) = "logEvent()">Action</ion-button>
    </ion-row>


    <ion-row class="ion-align-items-center">
      <ion-button expand = "round" color ="primary" (click) = "check()">Check status</ion-button>
    </ion-row>


    <ion-row>


      <ion-row class="ion-align-items-center">
        <ion-button expand = "round" color ="primary" (click) = "startScan()">Start scan</ion-button>
      </ion-row>
      <ion-list>
          <ion-item lines="full" color="success" *ngFor="let element of response">
              <ion-badge color = "primary">{{element.id}}</ion-badge><ion-label class="ion-text-wrap"> {{element.email}}  </ion-label>
          </ion-item>
          
         
      </ion-list>
    </ion-row>
  <ion-row>
    <ion-list>
      
      <ion-item lines="full" color="danger" *ngFor="let element of (devicesFound)">
          <ion-label class="ion-text-wrap"> {{element.address}} </ion-label><ion-badge color = "primary">{{element.name}}</ion-badge>
          <div *ngIf="element.address != connectionInfo.address && connectionInfo.status != 'CONNECTING'">
          <ion-button color="medium" (click) = "connect(element.address)">Connect</ion-button>
        </div>
        <div *ngIf="element.address == connectionInfo.address && connectionInfo.status != 'CONNECTING'">
          <ion-button color="medium" (click) = "disconnect()">Disconnect</ion-button>
        </div>
        <div *ngIf="connectionInfo.status == 'CONNECTING'">
          <ion-button color="warning">Connecting...</ion-button>
        </div>
        
      </ion-item>
  </ion-list>
  <ion-button color="medium" (click) = "disconnect()">Disconnect</ion-button>
  <ion-button color="medium" (click) = "sendMessage()">Send CODE</ion-button>
  </ion-row>
  <ion-row>
    <ion-toolbar>
    <ion-title>
      <ion-list-header lines="inset">
      <ion-content class ="battery">Device battery level: {{message}}%</ion-content>
    </ion-list-header>
  </ion-title>
    </ion-toolbar>
      
  </ion-row>
 
 

  </ion-grid>
  
</ion-content>