.under-text
{   
    padding-top: 4%;
    display: flex;
    justify-content: center;
 
}
.under-text-error
{   
    padding-top: 4%;
    display: flex;
    justify-content: center;
    color: red;
 
}