
.avatar{
  position: relative;
   left: 50%;
   margin-top: 2%;
   transform: translateX(-50%);
  border-radius: 50%;
  text-align: center;
  
}

.userDetails{
  position: relative;
  text-align: center;

}


.userDetails ion-label{
   position: relative;
   color: #484848f1;
   // left: 50%;
   margin: auto;
  //  transform: translateX(-50%);
  // border-radius: 50%;
  text-align: center;
}


.userDetails ion-text{
  position: relative;
  // left: 50%;
  margin: auto;
 //  transform: translateX(-50%);
 // border-radius: 50%;
 text-align: center;
}