
<!-- 
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->

<ion-content class = "auth-form">
<div class= "center-items">
<ion-grid>
<ion-row align-self-center>
  <div class ="app-title">
  <ion-title >Bollard Service Application</ion-title>
</div>
</ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col align-self-center>
        <!-- <ion-button [routerLink]="['/registration']" expand = "block" shape ="round" color ="light">Register</ion-button> -->
        <!-- <span class="divider line one-line"><ion-title class ="app-title">Bollard Service Application</ion-title></span> -->
     
      
        <ion-button [routerLink]="['/login']"  expand = "block" shape ="round" color ="primary">Sign in</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</div>
</ion-content>
