
  .info ion-grid{
    padding-top: 50%;
  }
  .info ion-row {
    height: 30%;
    margin: 3%;
    justify-content: center;

  }
  .info ion-title{
    text-align: center;
  }

  // .info{
  //   height: 100%;
  //   justify-content: center;

  // }