<!-- <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav> -->

<ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-button expand = "round" color ="primary" (click) = "check()">Check status</ion-button>
    </ion-row>
    <ion-row>
      <ion-row class="ion-align-items-center">
        <ion-button expand = "round" color ="primary" (click) = "startScan()">Start scan</ion-button>
      </ion-row>
      <ion-list>
          <ion-item lines="full" color="success" *ngFor="let element of response">
              <ion-badge color = "primary">{{element.id}}</ion-badge><ion-label class="ion-text-wrap"> {{element.email}}  </ion-label>
          </ion-item>
          
         
      </ion-list>
    </ion-row>
    <ion-input inputmode="text" class = "code" #code placeholder = "code" type="text" ></ion-input>
    <ion-row>

      <div>
      <div *ngIf="connectionInfo != undefined">
          <ion-card>
            <ion-card-header>Connection information</ion-card-header>
            <ion-card-content>
            <p>Status: {{connectionInfo.status}}</p> 
            <p>Device name: {{connectionInfo.name}}</p> 
            </ion-card-content>
            <div *ngIf="deviceResponse != undefined">
            <ion-card-header>Messages</ion-card-header>
            <ion-card-content> {{deviceResponse}} </ion-card-content>

            </div>
          </ion-card>      
      </div>
    </div>
    </ion-row>

  <ion-row>
    <ion-list>
      
      <ion-item lines="full" color="danger" *ngFor="let element of (devicesFound)">
          <ion-label class="ion-text-wrap"> {{element.address}} </ion-label><ion-badge color = "primary">{{element.name}}</ion-badge>
          <div *ngIf="element.address != connectionInfo.address && connectionInfo.status != 'CONNECTING'">
          <ion-button color="medium" (click) = "connect(element.address)">Connect</ion-button>
        </div>
  

        <div *ngIf="element.address == connectionInfo.address && connectionInfo.status != 'CONNECTING'">
          <ion-button color="medium" (click) = "disconnect()">Disconnect</ion-button>
        </div>
        <div *ngIf="connectionInfo.status == 'CONNECTING'">
          <ion-button color="warning">Connecting...</ion-button>
        </div>
      </ion-item>
  </ion-list>
    <ion-button [disabled] = "(connectionInfo != undefined &&  connectionInfo.status != 'CONNECTED') ? true : false"color="medium" (click) = "disconnect()">Disconnect</ion-button>
    <ion-button [disabled] = "isEmpty(code.value) || (connectionInfo != undefined &&  connectionInfo.status != 'CONNECTED') ? true : false" color="medium" (click) = "sendMessage(code.value)">Send order</ion-button>
  </ion-row>
  </ion-grid>

  
