.connectionInfo{
  position: sticky;
}

ion-icon.disconnect {

 filter:invert(50%);
  opacity: 100%;
}

div.ble-options{
  position: fixed;
  top: 88%;
  z-index: 10000;
  left: 83%;
}

ion-icon.disconnect-button {

  filter:invert(100%);
   opacity: 100%;
 }


ion-button.clear-chat{
  --opacity: 50%;
}


ion-content .chat{
  --offset-top: 2;
  --padding-bottom: 2;
}

.ripple-parent {
  position: relative;
  overflow: hidden;

}

ion-img.bollard-icon{
 filter:invert(50%);
 opacity: 100%;
}

ion-content .scroll-content {
  background-color: #f5f5f5;
}
.line-breaker {
  white-space: pre-line;
  // line-height: 1em;
}

.container-chat{

.message-left{
  position: relative;
  padding: 7px 0;
  .message-content {
      float: none;        
  }
  .message-avatar {
      position: absolute;
      border-radius: 45px;
      width: 45px;
      height: 45px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
  }
  .message-avatar-bollard {
    position: absolute;
    border-radius: 45px;
    width: 45px;
    height: 45px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
    filter:invert(50%);
}
  .message-source {
      width: 100%;
      padding-left: 60px;
      display: inline-block;
      p {
        margin: 0;
      }
      .message-datetime {
        p {
          font-size: .8em;
        }
      }
  }

}





}